<table class="table-payment">
  <thead class="table-heading">
  <tr class="table-heading_row">
    <th *ngFor="let columnName of columnNames; let j = index;" class="cell"
        [ngClass]="{'table-heading_month': (j !== 0 && j !== 1 && j !== 14)}">{{ columnName }}</th>
  </tr>
  </thead>
  <tbody class="table-body">
  <!-- component - CheckboxGroupComponent -->
    <tr *ngFor="let data of inputData; let i = index;" class="table-body_row" id="{{i}}"
        checkbox-group 
        [data]="data"
        (onDeleteButtonClick)="onRowDelete(data)"
        (onPaymentChange)="onPaymentChanged(data.id, $event)">
    </tr>
  </tbody>
</table>
<total-amount [totalAmount]="totalAmount"></total-amount>
